.container {
  width: 100vw !important;
}
.color-b {
  color: #2f80ed !important;
}

.main {
  display: flex !important;
  justify-content: space-between !important;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.f-info {
  background-color: #eeeeee;
  /* background-color: black !important;
  height: 8rem !important; */
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  width: 100vw !important;
}

/* Index listings css */
#card-container {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
